---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ pkg.websiteMetadata.title }}</title>
  <link href="{{ pkg.websiteMetadata.baseUrl }}/feed.xml" rel="self"/>
  <link href="{{ pkg.websiteMetadata.baseUrl }}/"/>
  <updated>{{ collections.all | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ pkg.websiteMetadata.baseUrl }}/</id>
  <author>
    <name>{{ pkg.websiteMetadata.author.name }}</name>
    <email>{{ pkg.websiteMetadata.author.email }}</email>
  </author>
  {%- for post in collections.all %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
