<footer>
  <div class="py-6">
    <div class="py-3 px-6 sm:px-12 xl:px-0 max-w-2xl mx-auto">
      <div class="flex place-content-center">
        {# <a title="Visit my GitHub profile" class="hover:underline" href="https://github.com/ncksllvn">
          <img class="w-6 h-6" src="/GitHub-Mark-64px.png" alt="Visit my GitHub profile"/>
        </a> #}
        <div class="text-center">
          {# <a href="mailto:ncksllvn@gmail.com">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
            </svg>
          </a> #}
          <div role="presentation" aria-hidden="true">
            💚 🦶🏻 🍻 ✌🏻 🍀
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
