<header>
  <div class="bg-black text-white px-6 py-2">
    <a class="inline-block -m-2 hover:bg-gray-700 text-sm font-serif font-semibold p-1 rounded-md" href="{{ "/" | url }}">
      <span role="presentation" aria-hidden="true">🏠</span>
      Nick Sullivan
    </a>
  </div>
</header>
