<header>
  <div class="bg-black text-white p-1">
    <div class="px-6 sm:px-12 max-w-2xl mx-auto">
      <a class="text-sm font-serif border border-transparent hover:border-white p-2 rounded-md" href="{{ "/" | url }}">🏡 🦶🏻 ✌🏻 Nick Sullivan’s blog</a>
    </div>
  </div>
</header>
