<!doctype html>
<html>
  {% include 'head.njk' %}
<body>
  {% include 'header.njk' %}
  <div class="py-6 px-6 sm:px-12 max-w-2xl mx-auto">

    <article>
      <h1 class="text-4xl font-serif mb-4">{{ title }}</h1>
      {# <time>{{ page.date }}</time> #}

      <div class="prose prose-xl">
        {{ content | safe }}
      </div>

    </article>

  </div>
</body>
</html>
