<!doctype html>
<html>

{% include 'head.njk' %}

<body class="bg-green-50">

{% include 'header.njk' %}

<main>
  <div class="bg-green-100">
  <div class="py-6 px-6 sm:px-12 xl:px-0 max-w-2xl mx-auto">
    <div class="flex-col md:flex-row flex place-items-center">
      <div class="flex place-content-center">
        <img class="border border-black rounded-full max-w-none w-36 h-36 lg:h-64 lg:w-64" src="{{ profile_pic.url }}"
          alt="{{ profile_pic.alt }}"/>
      </div>
      <div class="flex place-content-center align-middle pt-6 md:pl-6 md:pt-0">
        <div class="text-center leading-7">
          <h1 class="text-5xl font-serif font-semibold">{{ intro.headline }}</h1>
          <p class="my-2 font-serif">
            {{ intro.content }}
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>

<aside>
  <div class="bg-yellow-200">
    <div class="py-6 px-6 sm:px-12 xl:px-0 max-w-2xl mx-auto">
        <h2 class="text-3xl font-serif font-semibold">My recent writings</h2>
        <ul>
        {% for article in collections.all %}
          {% if article.url != '/' %}
            <li>
              <a class="inline-block mt-1 p-2 -m-2 hover:bg-yellow-100 rounded-md" href="{{ article.url | url }}">
                <h3 class="font-semibold font-serif text-lg text-blue-700">{{ article.data.title }}</h3>
                <p class="text-gray-600 text-sm">{{ article.data.subtitle | safe }}</p>
              </a>
            </li>
          {% endif %}
        {% endfor %}
        </ul>
    </div>
  </div>
</aside>

{% include 'footer.njk' %}

</body>
</html>
